{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "dataTypeCase": "upper",
  "denseOperators": false,
  "dialect": "sqlite",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "expressionWidth": 80,
  "functionCase": "upper",
  "htmlWhitespaceSensitivity": "css",
  "identifierCase": "preserve",
  "indentStyle": "standard",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "keywordCase": "upper",
  "language": "sqlite",
  "linesBetweenQueries": 2,
  "logicalOperatorNewline": "after",
  "newlineBeforeSemicolon": false,
  "overrides": [],
  "plugins": ["prettier-plugin-sql"],
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
